.git
.gitlab
.github
node_modules

!storage
!storage/framework
!storage/logs
!bootstrap
!bootstrap/cache

storage/*
!storage/framework
!storage/framework/cache
!storage/framework/sessions
!storage/framework/views

.env
.env/*
docker-compose*.yml
docker
*.md
.idea
.vscode
tests
