name: Hello World

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  say_hello:
    environment: Test
    runs-on: self-hosted
    steps:
      - name: Показать, кто мы и где
        run: |
          echo "Hello from $HOSTNAME"
          uname -a

      - name: Чекаут кода
        uses: actions/checkout@v4

      - name: Список файлов репозитория
        run: ls -la

      - name: Используем переменные/секреты
        # env:
        #   EXAMPLE_VAR: "42"
        #   GH_ACTOR: ${{ github.actor }}
        run: |
          echo "actor=${GH_ACTOR}, var=${EXAMPLE_VAR}"
          # пример чтения секрета (добавь в Settings > Secrets and variables > Actions)
          if [ -n "${{ secrets.MY_SECRET || '' }}" ]; then
            echo "Секрет получен (не печатаем его!)"
          fi




здравствуйте! Хотел уточнить - я верно понимаю что при взаимодействии с api при запросе access token мне нужно указать в mRecipient БИН компании которой я отправляю договор на подписание? Должна ли компания с таким БИН быть зарегистрирована в вашей системе заранее, или это необязательно?
